/* Variables */
:root {
  --list-background-color: rgb(236, 234, 234);
  --central-background-color: #e6e6e6;
  --border-color: grey;
  --button-color: #b0a0d8;
  --button-text-color: white;
  --icon-color: grey;
  --contact-card-padding: 1em 1.8em;
  --active-card-padding: 1em 2em;
  --button-padding: 1em 3em;
  --contact-card-img-size: 3em;
  --active-card-img-size: 2.5em;
  --contact-card-img-height:3em;
  --social-icons-font-size: 1.5em;
  --button-box-padding: 2em 1.4em;
  --contact-list-width: 22em;
}

/* Estilos generales */
body {
  background-color: var(--central-background-color);
  font-family: 'Roboto' , sans-serif
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Lista de contactos */
.contact-list {
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  flex-basis: var(--contact-list-width);
  justify-content: space-between;
  min-height: 100vh;
  background-color: var(--list-background-color);
}

/* Estilo para el contacto activo */
.active-card {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  padding: var(--active-card-padding);
}

.active-display {
  display: flex;
}

.active-card img {
  border-radius: 100%;
  width: var(--active-card-img-size);
}

.contact-display {
  color: var(--icon-color);
}

/* Estilos íconos sociales */
.social-icons {
  align-items: center;
  display: flex;
  font-size: var(--social-icons-font-size);
  flex-basis: var(--active-card-img-size);
  color: var(--icon-color);
  justify-content: space-between;
}

/* Estilos botón de nuevo chat */
.button-box {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  padding: var(--button-box-padding);
}

button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
}

/* Estilos lista de contactos no activos */
.contact-card {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  margin: 0em;
  padding: var(--contact-card-padding);
}

.contact-card img {
  border-radius: 100%;
  width: var(--contact-card-img-size);
  height: var(--contact-card-img-height);
}

/* Estilos para detalles del contacto */
.contact-details {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.8em;
}

.contact-details p {
  margin: 0;
}

.contact-name {
  font-weight: 600;
}

/* Estilos para la sección central */

.central-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.central-section img {
  display: block;
  margin: auto;
  height: auto;
  width: 22em;
  max-width: 100%;
}

/* Estilos para los textos bajo la imágen */

.central-title {
  margin: 1rem 0 0;
  font-size: 3rem;
  font-weight: 400;
}

.instructions {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 2rem;
}
